<hr class="page-section--divider">
<section role="region" aria-labelledby="featured-content" class="page-section--container">
  <h2 class="title">Get started today with CureAccelerator</h2>
  <ul class="button-list">
    <li><%= link_to 'Sign Up', '#', class: 'button button--primary' %></li>
    <li><%= link_to 'Learn More', 'faq.html', class: 'button button--secondary' %></li>
  </ul>
</section>