<footer role="page footer" class="page-footer">
  <div class="footer-container">
    <div class="footer--left">
      <ul>
        <li>The CureAccelerator platform was built with a grant from the Robert Wood Johnson Foundation</li>
      </ul>
    </div>
    <div class="footer--right">
      <ul>
        <li>CureAccelerator™</li>
        <li>All Rights Reserved</li>
        <li><%= link_to 'Privacy/Terms of Use', 'privacy.html' %></li>
        <li><%= link_to 'Contact', 'contact.html' %></li>
      </ul>
    </div>
  </div>
</footer>