// Map Graphic Styles
// ========================================


// Dot Types
$dots: (
  ('blue',       $blue-base,    2s,    2s)
  ('brown',      $brown-base,   4s,    2s)
  ('green',      $green-base,   6s,    2.5s)
  ('green-alt',  $green-alt-1,  8s,    3.2s)
  ('pink',       $pink-base,    3.5s,  1.75s)
  ('purple',     $purple-base,  5.5s,  2.25s)
);


// Dot Animation
@include keyframes(pulse) {
 0%   { @include transform(scale(0));     opacity: 0.0; }
 25%  { @include transform(scale(0.1));   opacity: 0.1; }
 35%  { @include transform(scale(0.2));   opacity: 0.2; }
 50%  { @include transform(scale(0.3));   opacity: 0.5; }
 65%  { @include transform(scale(0.5));   opacity: 0.8; }
 80%  { @include transform(scale(0.8));   opacity: 0.5; }
 90%  { @include transform(scale(1));     opacity: 0.2; }
 100% { @include transform(scale(1));     opacity: 0.0; }
}


// Base Dot
.map-container {
  @include clearfix;
  @include position(absolute, 75px 0 null 0);
  @include rem(height, 400px);
  @include rem(width, 750px);
  margin: 0 auto;

  %dot {
    display:none;

    @include media($tablet) {
      @include animation-iteration-count(infinite);
      @include position(absolute);
      @include rem(height, 20px);
      @include rem(width, 20px);
      border-radius: 40px;
      display: block;
      opacity: 0;
      z-index: 1;
    }
  }
}


// Color Dots
@each $dot in $dots{
  $type:  nth($dot, 1);
  $color: nth($dot, 2);
  $delay: nth($dot, 3);
  $time:  nth($dot, 4);

  .dot-#{$type}{
    @extend %dot;
    @include animation(pulse 4s linear);
    @include animation-delay($delay);
    @include animation-duration($time);
    background-color: $color;
    border: 5px solid $color;
  }
}

.dot-1  { left:   12.25%;  top: 6.65%;  }
.dot-2  { left:   15.25%;  top: 12.65%; }
.dot-3  { left:   -0.75%;  top: 22.65%; }
.dot-4  { left:   6.25%;   top: 42.65%; }
.dot-5  { left:   15.25%;  top: 72.65%; }
.dot-6  { right:  36.25%;  top: 0;      }
.dot-7  { right:  15.25%;  top: 12.65%; }
.dot-8  { right:  8.25%;   top: 22.65%; }
.dot-9  { right:  50.25%;  top: 5%;     }
.dot-10 { right:  8.25%;   top: 80.65%; }
.dot-11 { left:   15.25%;  top: 90.65%; }
.dot-12 { right:  7%;      top: 90.65%; }
.dot-13 { right:  14%;     top: 81.65%; }