// Callouts
// ========================================


// Callout types
$callouts: (
  ('green',     #82c2c0,      #437271,      $white-base)
  ('purple',    $purple-base, $purple-dark, $white-base)
  ('pink',      #d46786,      #784c58,      $white-base)
  ('pink-dark', $pink-dark,   $pink-dark,   $white-base)
);


// Callout structure
@each $callout in $callouts{
  $type:   nth($callout, 1);
  $bg-1:   nth($callout, 2);
  $bg-2:   nth($callout, 3);
  $color:  nth($callout, 4);

  .callout--#{$type} {
    @include linear-gradient(180deg, $bg-1, $bg-2);
    @include rem(padding, 50px 10px);
    color: $color;

    &.offset{ @include rem(margin, 100px 0); @include rem(padding-top, 25px); }
  }
}


// Callout Styles
.callout--container{
  @include position(relative);
  @include outer-container();
  text-align: center;

  @include media($tablet-landscape){ text-align: inherit; }

  .one-third{
    @include rem(padding, 0 20px);
    @include span-columns(4 of 4);

    @include media($tablet-landscape){
      @include span-columns(3 of 12);
      @include shift(1 of 12); }
    }

  .two-third{
    @include rem(padding, 0 20px);
    @include span-columns(4 of 4);

    @include media($tablet-landscape){
      @include span-columns(8 of 12);
    }
  }

  .divider{
    @include position(absolute, null 27% null null);
    background-color: #437271;
    display: none;
    height: 100%;
    width: 1px;

    @include media($tablet-landscape){ display: block; }
  }

  .text{ @include s-charlie; line-height: 30px; }

  .logo-container{ @include rem(margin-top, 15px); }
  .footnote-logo{ @include rem(margin-top, 25px); }
}