// User Role Icons
// ========================================


// Variables
$role-height: 130px;
$role-width:  91.5px;
$role-icons:  image-url('icons/user-roles-sprite.svg');


// Basic Styles
%role-icon{
  @include rem(margin-top, -12px);
  background-image: $role-icons;
  background-size: 1100px 100px;
  background-repeat: no-repeat;
  height: $role-height;
  text-indent: -99999px;
  width: $role-width;
}


// List
$roles: (
  share       $role-width * 0,
  peer        $role-width * 1,
  post        $role-width * 2,
  global-1    $role-width * 3,
  ideas       $role-width * 4,
  connect     $role-width * 5,
  support     $role-width * 6,
  global-2    $role-width * 7,
  difference  $role-width * 8,
  benefit     $role-width * 9,
  work        $role-width * 10,
  global-3    $role-width * 11
);


// Loop
@each $role in $roles{
  $name:      nth($role, 1);
  $position:  nth($role, 2);

  .#{$name}{
    background-position: -($position * 1) 0;
    @extend %role-icon;
  }
}