// Base Layout Styles
// ========================================


// Global Styles
html, body{ overflow-x: hidden; }


// Hide/Show Classes
.mobile--show{
  display: block;
  @include media($tablet-landscape){ display: none; }
}

.mobile--hide{
  display: none;
  @include media($tablet-landscape){ display: block; }
}


// Page Section Styles
.page-section--divider{
  @include outer-container();
  @include rem(margin, 80px auto);
  border: none;
  border-bottom: 1px solid $grey-light;
  width: 85%;

  @include media($tablet-landscape){ width: 100%; }
}


.page-section--container{
  @include outer-container();
  @include position(relative);
  @include rem(margin, 50px auto 0);
  @include rem(padding, 0 20px);

  @include media($tablet-landscape){ padding: 0; }

  .page-section--header,
  .page-section--body {
    @include clearfix;
    text-align: center;
  }

  .title{
    @include font-type($primary-sans-serif, normal, 300);
    @include rem(padding, 0 20px);
    @include s-alpha;
    @include span-columns(4 of 4);
    text-align: center;

    @include media($tablet){
      @include span-columns(8 of 12);
      @include shift(2 of 12);
      padding: 0;
    }
  }

  .text{
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }
}

.section-tag-border{
  border-top: 3px solid $pink-dark;
  margin: 0 auto;
  width: 50px;
}

.section--tag{ @include rem(margin, 15px 0 30px);
}


// Sidebar and Column layout
.sidebar{
  @include rem(margin-bottom, 50px);
  @include rem(padding, 0 20px);
  width: 100%;

  @include media($tablet-landscape){
    padding: 0;

    &.affixed{
      @include position(absolute); width: 25%;

      &.is-affixed{
        @include animation(slide-in-up 0.3s ease-in);
        @include position(fixed, 100px null null null null);
      }
    }
  }


  .scroll-on-page-link{
    @include rem(margin-bottom, 15px);
    color: $blue-base;
    display: block;
  }
}

.sidebar-content-container{
  @include rem(padding, 0 20px);
  width: 100%;

  @include media($tablet-landscape){
    @include span-columns(8 of 12);
    @include shift(4 of 12);
    padding: 0;
  }
}

.sidebar-content--title{
  @include font-type($primary-sans-serif, normal, 300);
  @include rem(padding-bottom, 15px);
  border-bottom: 1px solid $grey-base;
}

.question-container{
  @include rem(margin-top, 50px);
  &.first{ margin-top: 0; }
}

.question-group{
  @include rem(margin, 20px auto 0);
  @include rem(padding, 20px 0);
  border-bottom: 1px solid $grey-base;

  &.last{ border-bottom: none; }

  a{ @extend .link-primary; }

  li{
    @extend p;
    @include rem(margin-left, 20px);
    list-style-type: disc;
  }
}


// Grid Layout
.grid-layout {
  @include rem(padding, 0 20px);
  @include rem(margin-top, 20px);

  @include media($tablet){ padding: 0; }

  .grid-item--title {
    @include rem(margin-bottom, 5px);
  }

  .grid-item{
    @include rem(margin-top, 35px);
    @include media($tablet){
      @include span-columns(6 of 12);
      @include omega(2n);
    }
    .user-role-icon {
      @include rem(margin-right, 20px);
      float: left;
    }

    p { overflow: hidden; }
  }
}