// Page Headers
// ========================================


// Page Header types
$headers: (
  ('green-alt',  $green-alt-1,  #414d27,  $green-alt-1)
  ('green',      #82c2c0,       #437271,  $green-dark)
  ('purple',     #c1a4cb,       #513659,  $purple-dark)
);


// Page Header structure
.page-header{
  @include clearfix;
  @include position(relative);
  @include rem(margin-top, 78px);

  @each $header in $headers{
    $type:   nth($header, 1);
    $bg-1:   nth($header, 2);
    $bg-2:   nth($header, 3);
    $border: nth($header, 4);

    &.header--#{$type} {
      @include linear-gradient(180deg, $bg-1, $bg-2);
      border-top: 1px solid $border;
    }
  }
}


// Page Header styles
.header-content__container{
  @include outer-container;
  @include rem(padding, 20px 10px);

  @include media($tablet-landscape){ padding: 0; }

  .title__inverse{ color: $white-base; }

  h3{ @include s-alpha; }
}


// Homepage Header styles
.home-header{
  @include rem(padding, 20px 10px);
  background: transparent image-url('map-img-2.png') 50% 50% no-repeat;
  background-color: #FAFAF7;
  background-size: contain;
  border-top: 1px solid $white-dark;
  text-align: center;

  @include media($tablet){ @include rem(padding, 110px 10px); }

  .title{
    @include animation(fade-in-up 2s ease-in);

    @include media($tablet){
      @include span-columns(7 of 12);
      @include shift(2.5 of 12);
      @include text-shadow(0 5px 10px, rgba(0, 0, 0, 0.15));
    }
  }

  .button--header{ @include animation(fade-in-up 2s ease-in); }

  .header-content__description{ @include row; }
}

// FAQ Header
.faq-header{ @include rem(padding, 150px 10px 20px); }


// Role Pages
.role-page{
  overflow: hidden;

  .header-content__left{
    display: none;

    @include media($tablet-landscape){
      @include span-columns(4 of 12);
      display: block;
    }
  }

  .header-content__right{
    @include rem(padding, 0 20px);
    text-align: center;

    @include media($tablet-landscape){
      @include span-columns(7 of 12);
      @include shift(1 of 12);
      margin-top: 9%;
      text-align: left;
    }

    p{
      @include s-delta;
      line-height: 24px;
    }
  }

  .user-role-img{
    @include rem(margin, 25px auto -15px);

    @include media($tablet-landscape){
      width: 135%;
    }
  }
}