---
title: "Contact Us - CureAccelerator"
description: "Please contact us to learn more about the CureAccelerator application and our organization."
---
<section role="banner" aria-label="contact-us" class="page-header header--purple faq-header">
  <div class="header-content__container">
    <h3 class="title__inverse">Contact Us</h3>
  </div>
  <%= partial 'components/page-scroll' %>
</section>
<section role="region" id="page-scroll" class="page-section--container">
  <div class="contact-form--container">
    <h4>Need help? Reach out to us.</h4>
    <form action="http://formspree.io/info@cureaccelerator.org" method="post" role="form">
      <input type="hidden" name="_subject" value="CureAccelerator Contact Form Submission" />
      <input type="text" name="_gotcha" style="display:none" />
      <fieldset>
        <label>Your Full Name</label>
        <input type="text" required>
      </fieldset>
      <fieldset>
        <fieldset>
        <label>Your Email Address</label>
        <input type="email" required>
      </fieldset>
        <label>Your Message</label>
        <textarea></textarea>
      </fieldset>
      <input type="submit" value="Send Email" class="button button--secondary">
    </form>
  </div>
  <div class="contact-form--sidebar card">
    <h5 class="contact-card--title">Our Location</h5>
    <ul>
      <li>Cures Within Reach</li>
      <li>Attn:  CureAccelerator</li>
      <li>IL Science+Technology Park</li>
      <li>8025 Lamon Avenue</li>
      <li>Skokie, IL 60077</li>
    </ul>
  </div>
</section>