---
title: "Contact Us - CureAccelerator"
description: "Please contact us to learn more about the CureAccelerator platform and our organization."
---
<section role="banner" aria-label="contact-us" class="page-header header--purple faq-header">
  <div class="header-content__container">
    <h3 class="title__inverse">Contact Us</h3>
  </div>
  <%= partial 'components/page-scroll' %>
</section>
<section role="region" id="page-scroll" class="page-section--container">
  <div class="contact-form--container">
    <h4>Need help?</h4>
    <p>Reach out to us at <a href="mailto:info@cureaccelerator.org">info@cureaccelerator.org</a>.</p>
    <!-- <form action="https://formspree.io/info@cureaccelerator.org" method="post" role="form">
      <input type="hidden" name="_subject" value="CureAccelerator Contact Form Submission" />
      <input type="text" name="_gotcha" style="display:none" />
      <fieldset>
        <label>Your Full Name</label>
        <input type="text" name="name" required>
      </fieldset>
      <fieldset>
        <fieldset>
        <label>Your Email Address</label>
        <input type="email" name="_replyto" required>
      </fieldset>
        <label>Your Message</label>
        <textarea name="message" required></textarea>
      </fieldset>
      <input type="hidden" name="_subject" value="Cure Accelerator Contact" />
      <input type="hidden" name="_next" value="/thank-you" />
      <input type="submit" value="Send" class="button button--secondary">
    </form> -->
  </div>
  <div class="contact-form--sidebar card">
    <h5 class="contact-card--title">Our Location</h5>
    <ul>
      <li>Cures Within Reach</li>
      <li>Attn: CureAccelerator</li>
      <li>134 N. LaSalle Street, #1130</li>
      <li>Chicago, IL 60602</li>
    </ul>
  </div>
</section>