---
title: "Thank You - CureAccelerator"
description: "Thank you for contacting us."
---
<section role="banner" aria-label="contact-us" class="page-header header--purple faq-header">
  <div class="header-content__container">
    <h3 class="title__inverse">Contact Us</h3>
  </div>
  <%= partial 'components/page-scroll' %>
</section>
<section role="region" id="page-scroll" class="page-section--container">
  <div class="contact-form--container">
    <h4>Thank you for contacting us.<br>We will get back to you as soon as possible.</h4>
  </div>
  <div class="contact-form--sidebar card">
    <h5 class="contact-card--title">Our Location</h5>
    <ul>
      <li>Cures Within Reach</li>
      <li>Attn:  CureAccelerator</li>
      <li>IL Science+Technology Park</li>
      <li>8025 Lamon Avenue</li>
      <li>Skokie, IL 60077</li>
    </ul>
  </div>
</section>